.top-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.top-toolbar .project-name {
  font-size: 1.5em;
  margin: 10px;
  max-width: 200px;
  max-height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-toolbar button {
  margin: 0 10px;
  padding: 5px 10px;
  background: #555;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#react-toolbar-root {
  margin-left: auto;
}

#react-toolbar-root > h2 {
  font-size: 0.75em;
  text-overflow: ellipsis;
}